agate==1.11.0
agate-dbf==0.2.3
agate-excel==0.4.1
agate-sql==0.7.2
alembic==1.14.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
arrow==1.3.0
attrs==24.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bioregistry==0.11.17
blinker==1.9.0
boto3==1.35.37
botocore==1.35.37
cached-property==1.5.2
cachetools==5.5.0
certifi==2024.8.30
CFGraph==0.2.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.3.1
csvkit==2.0.1
curies==0.7.10
cycler==0.12.1
dacite==1.8.1
daff==1.3.46
dataflows-tabulator==1.54.3
dbfread==2.0.7
Deprecated==1.2.14
et-xmlfile==1.1.0
execnet==2.1.1
Flask==3.1.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
fonttools==4.55.3
fqdn==1.5.1
Frozen-Flask==1.0.2
google==3.0.0
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
graphviz==0.20.3
greenlet==3.0.3
gspread==6.1.2
gspread-formatting==1.2.0
hbreader==0.9.1
htmlmin==0.1.12
httplib2==0.22.0
idna==3.10
ijson==3.3.0
ImageHash==4.3.1
iniconfig==2.0.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json-flattener==0.1.9
json_extract==1.1.2
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.8
latex2mathml==3.77.0
leather==0.4.0
linear-tsv==1.1.0
linkml==1.8.4
linkml-dataops==0.1.0
linkml-runtime==1.8.3
llvmlite==0.43.0
Mako==1.3.8
Markdown==3.6
markdown2==2.5.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mock==5.1.0
more-click==0.1.2
multimethod==1.12
mysql-connector-python==9.1.0
networkx==3.4.2
numba==0.60.0
numpy==2.0.0
oauthlib==3.2.2
olefile==0.47
ontodev-cogs==0.3.3
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
parse==1.20.2
parsedatetime==2.6
path==16.14.0
path.py==12.5.0
pathlib==1.0.1
patsy==1.0.1
phik==0.12.4
pillow==11.0.0
pluggy==1.5.0
ply==3.11
prefixcommons==0.1.12
prefixmaps==0.2.5
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyJSG==0.11.10
pyodbc==5.2.0
pyparsing==3.1.4
PyShEx==0.8.1
PyShExC==0.9.1
pystow==0.5.6
pytest==8.2.2
pytest-logging==2015.11.4
pytest-shutil==1.7.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytimeparse==1.1.8
PyTrie==0.4.0
pytz==2024.1
PyWavelets==1.8.0
PyYAML==6.0.2
rdflib==7.0.0
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3987==1.3.8
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.3
schemasheets==0.3.1
scipy==1.13.1
seaborn==0.13.2
ShExJSG==0.8.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.6
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.31
statsmodels==0.14.4
svgwrite==1.4.3
tableschema==1.20.11
tabulate==0.9.0
termcolor==2.4.0
text-unidecode==1.3
tqdm==4.66.5
typeguard==4.4.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
unicodecsv==0.14.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.3
visions==0.7.6
watchdog==5.0.3
wavedrom==2.0.3.post3
webcolors==24.8.0
Werkzeug==3.1.3
wordcloud==1.9.4
wrapt==1.16.0
xlrd==2.0.1
ydata-profiling==4.12.1
