<h3 id="2-mids-tools">MIDS Tools</h3>
<div class="table-outer-wrapper">
    <div class="term-table-wrapper">
        {% for meta in tools_metadata.tools %}
            <div class="table-responsive print-avoid">
                <table class="table table-condensed table-tools caption-top">
                <caption>{{ meta['title'] }}</caption>
                    <tbody>
                            <tr>
                                <th>Description:</th>
                                <td>{{ meta.description }}</td>
                            </tr>
                            <tr>
                                <th>Landing Page:</th>
                                <td>{{ meta.landing_page|urlize }}</td>
                            </tr>
                        {%  if meta.download_url %}
                            <tr>
                                <th>Download URL:</th>
                                <td>{{ meta.download_url|urlize }}</td>
                            </tr>
                        {% endif %}
                         {%  if meta.documentation_url %}
                            <tr>
                                <th>Documentation:</th>
                                <td>{{ meta.documentation_url|urlize }}</td>
                            </tr>
                        {% endif %}
                        {%  if meta.github_repo %}
                            <tr>
                                <th>GitHub Repository:</th>
                                <td>{{ meta.github_repo|urlize }}</td>
                            </tr>
                        {% endif %}
                        {% if meta.last_updated %}
                            <tr>
                                <th>Last Updated</th>:</th>
                                <td>{{ meta.last_updated }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>