<h2 id="4-mids-levels">4 MIDS Levels</h2>
<div class="term-table-wrapper">
    <div class="table-responsive print-avoid">
        <table class="table table-compact table-terms">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Label</th>
                    <th>Description</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tbody>
                {% for idx, v in levels.iterrows() %}
                    <tr id="{{ v['term_local_name'] }}">
                        <td>{{ v['level'] }}</td>
                        <td>{{ v['alt_label'] }}</td>
                        <td>{{ v['definition'] }}</td>
                        <td>{{ v['purpose'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
