<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color" id="main-nav">
	<div class="container">
	    <a class="navbar-brand d-flex align-items-center" href="{{ site.links.landingPage }}">
	        <img class="me-3" src="https://tdwg.github.io/chrono/assets/theme/images/tdwg-logo-short.svg" alt="{{ site.title }}">
            {{ site.title }}
	    </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
			Menu <i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="navbar-nav ms-auto">
                {% for route in site.routes %}
                    {% if route.name %}
                        <li class="navbar-item">
                            <a class="nav-link {{ 'nav-link-active' if page.name == route.name }}"
                               href="{{ url_for(route.name) }}">{{ route.title or route.name.replace('_', ' ')|title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
				<li class="navbar-item">
					<a class="nav-link" href="{{ site.links.github_repository }}">GitHub</a>
				</li>
            </ul>
		</div>
	</div>
</nav>
