<h2 id="5-term-index">5 Term index</h2>
<h3 id="51-index-by-term-name">5.1 Index By Term Name</h3>
<div class="class-set-wrapper">
    <h5><strong>Classes</strong></h5>
    <ul class="cls-list list-2-col">
        {% for gc in termsCls %}
            <li><a href="#{{ gc }}">minext:{{ gc }}</a></li>
        {%  endfor %}
    </ul>
</div>
{% for v in termsByClass %}
        <div class="term-set-by-class-wrapper">
            <h5>{{ v.class }}</h5>
            <ul class="term-list list-2-col">
                {% for k in v.termlist %}
                    {% if v['class'] != k[1] %}
                    <li><a href="#{{ v.class }}_{{ k[1] }}">{{ k[0] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
         </div>
{%  endfor %}
