{% extends "base.html" %}
{% block main %}
    <main id="top">
        {% include 'includes/global/page-header.html' %}
        <div class="container content">
            <div class="row">
                <div class="col-lg-3 mx-auto">
                    {% include 'includes/mappings/sidebar.html' %}
                </div>
                <div class="col-lg-9 order-lg-first mx-auto">
                    <div class="content-header-wrapper">
                        <h2><span style="color:red">DRAFT</span></h2>
                        {{ headerMarkdown }}
                        {{ sssomReference }}
                    </div>
                    <h2 id="2-mappings-tables">Mapping Tables</h2>
                    {%  include 'includes/mappings/dwc-collapsible-sssom-table.html' %}
                    {%  include 'includes/mappings/abcd-collapsible-sssom-table.html' %}
                </div>
            </div>
        </div>
    </main>
{%  endblock %}
