<h2 id="5-disciplines">5 Disciplines</h2>
<p>{{ disciplinesSectionHeaderMarkdown }}</p>
<h3 id="51-disciplines-terms">5.1 Discipline Terms</h3>
<div class="disciplines-table-wrapper">
    <div class="table-responsive print-avoid">
        <table class="table table-compact table-terms">
            <thead>
                <tr>
                    <th>Term</th>
                    <th>Definition</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                {% for idx, v in disciplinesTerms.iterrows() %}
                    <tr id="{{ v['term'] }}">
                        <td>{{ v['term'] }}</td>
                        <td>{{ v['definition'] }}</td>
                        <td>{% if v['source'] is number %}{% else %}<a href="{{ v['source_url'] }}">{{ v['source'] }}</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
