<h2 id="52-discipline-schemas">5.2 Discipline Schemas</h2>
<div class="row">
    <div class="col-md-4">
        <h3 id="521-biology-schema">5.2.1 Biology</h3>
    </div>
    <div class="col-md-4">
        <h3 id="522-paleontology-schema">5.2.2 Paleontology</h3>
    </div>
    <div class="col-md-4">
        <h3 id="523-geology-schema">5.2.3 Geology</h3>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------------- -->
<!-- MIDS0 -->
<div class="row discipline-schema-row">
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Biology" and v['level'] == 'MIDS0' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Paleontology" and v['level'] == 'MIDS0' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Geology" and v['level'] == 'MIDS0' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------------- -->
<!-- MIDS1 -->
<div class="row discipline-schema-row">
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Biology" and v['level'] == 'MIDS1' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Paleontology" and v['level'] == 'MIDS1' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Geology" and v['level'] == 'MIDS1' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------------- -->
<!-- MIDS2 -->
<div class="row discipline-schema-row">
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Biology" and v['level'] == 'MIDS2' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Paleontology" and v['level'] == 'MIDS2' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Geology" and v['level'] == 'MIDS2' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<!-- MIDS3 -->
<div class="row discipline-schema-row">
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Biology" and v['level'] == 'MIDS3' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Paleontology" and v['level'] == 'MIDS3' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="discipline-schema-list">
            {% for k, v in schemas.iterrows() %}
                {% if v['discipline'] == "Geology" and v['level'] == 'MIDS3' %}
                    <li id="{{ v['identifier'] }}">
                        <span class="level-label {{ v['level'] }}"><a href="#{{ v['level'] }}">{{ v['level'] }}</a></span>
                        <span class="element-label"><a href="#{{ v['informationElement'] }}">{{ v['informationElement'] }}</a></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>