<div class="toc">
    <h6>On this page</h6>
        <ul>
            <li><a href="#1-introduction">1 Introduction</a></li>
            <li><a href="#2-borrowed-vocabulary">2 Borrowed Vocabulary</a></li>
            <li><a href="#3-namespace-prefixes-term-names">3 Namespaces, Prefixes and Term Names</a></li>
            <li><a href="#4-mids-levels">4 MIDS Levels</a></li>
            <li><a href="#5-disciplines">5 Disciplines</a>
                <ul>
                    <li><a href="#51-disciplines-terms">5.1 Discipline Terms</a></li>
                    <li><a href="#52-discipline-schemas">5.2 Discipline Schemas</a>
                         <ul>
                            <li><a href="#521-biology-schema">5.2.1 Biology Schema</a></li>
                            <li><a href="#522-paleontology-schema">5.2.2 Paleontology Schema</a></li>
                            <li><a href="#523-geology-schema">5.2.3 Geology Schema</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#6-information-element-index">6 Information Elements</a>
                 <ul>
                    <li><a href="#61-information-elements-schema">6.1 Information Elements Schema</a></li>
                </ul>
            </li>
            <li></li>
            <li><a href="#top"><em>Return to Top</em></a></li>
        </ul>
</div>
  
  