{% extends "base.html" %}
{% block main %}
<main>
	{% include 'includes/global/page-header.html' %}
	<a id="top"></a>
	<div class="container content">
		<div class="row">
			<div class="col-lg-3 mx-auto">
                <!-- TODO: Re-enable i18n features later -->
				{% include 'includes/term-scopes/sidebar.html' %}
			</div>
			<div class="col-lg-9 order-lg-first mx-auto">
			    <h1 id="ltc-list-of-terms">{{ page.title }}</h1>
				<div class="content-header-wrapper">
                    {% if site.status == 'Draft' %}
                        <h2><span style="color:red">DRAFT</span></h2>
                    {% endif %}
	                {{ content|safe }}
                    {% include 'includes/term-scopes/diagrams/compound-model.html' %}
				</div>
                {% include 'includes/term-scopes/specimen-terms-table.html' %}
                {% include 'includes/term-scopes/mineral-terms-table.html' %}
            </div>
        </div>
	</div>
</main>

{% endblock %}
